* {
	padding: 0px;
	margin: 0px;
}

/* ==引入句读字体== */
@font-face {
	/* 粗体 */
	font-family: judou;
	src: url(/fonts/judou/JudouSansUiHans-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}

@font-face {
	/* 粗斜体 */
	font-family: judou;
	src: url(/fonts/judou/JudouSansUiHans-BoldItalic.ttf);
	font-style: italic;
	font-weight: bold;
}

@font-face {
	/* 斜体 */
	font-family: judou;
	src: url(/fonts/judou/JudouSansUiHans-Italic.ttf);
	font-style: italic;
	font-weight: normal;
}

@font-face {
	/* 常规 */
	font-family: judou;
	src: url(/fonts/judou/JudouSansUiHans-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}
/* ================ */

/* ==引入更纱字体== */
@font-face {
	/* 等宽，粗体 */
	font-family: sarasa-f;
	src: url(/fonts/sarasa/SarasaFixedSC-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}

@font-face {
	/* 等宽，粗斜体 */
	font-family: sarasa-f;
	src: url(/fonts/sarasa/SarasaFixedSC-BoldItalic.ttf);
	font-style: italic;
	font-weight: bold;
}

@font-face {
	/* 等宽，斜体 */
	font-family: sarasa-f;
	src: url(/fonts/sarasa/SarasaFixedSC-Italic.ttf);
	font-style: italic;
	font-weight: normal;
}

@font-face {
	/* 等宽，常规 */
	font-family: sarasa-f;
	src: url(/fonts/sarasa/SarasaFixedSC-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	/* 常规 */
	font-family: sarasa;
	src: url(/fonts/sarasa/SarasaUiSC-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	/* 斜体 */
	font-family: sarasa;
	src: url(/fonts/sarasa/SarasaUiSC-Italic.ttf);
	font-style: italic;
	font-weight: normal;
}

@font-face {
	/* 粗斜体 */
	font-family: sarasa;
	src: url(/fonts/sarasa/SarasaUiSC-BoldItalic.ttf);
	font-style: italic;
	font-weight: bold;
}

@font-face {
	/* 粗体 */
	font-family: sarasa;
	src: url(/fonts/sarasa/SarasaUiSC-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}
/* ================ */

*, p {
	/* font-family: 'Segoe UI', Tahoma, 'Droid Sans Fallback', Verdana, Geneva, 'Noto Sans CJK SC', sans-serif; */
	font-family: judou;
}

p, footer, li, figcaption, tr td, tr th {
	font-size: 10pt;
	color: #000000;
}


.bgBlueHeader {
	background-image: url(/images/bg_pageHeader.bmp);
	scale: 100%;
	background-size: cover;
}

/* 背景为 bg_silverBar（银色栏，较窄），横向重复 */
.bgSilverBar {
	background-image: url(/images/bg_silverBar.gif);
	background-repeat: repeat-x;
}

.bgBlueBar {
	background-image: url(/images/bg_blueBar.bmp);
	background-repeat: repeat-y;
	background-size: cover;
}

/* 设置等宽字体 */
.mono {
	/* font-family: 'Lucida Console', 'Consolas', 'Droid Sans Mono', 'Noto Sans Mono CJK SC', 宋体, 新宋体, monospace; */
	font-family: sarasa-f, monospace;
}

/* 给这堆东西设置无边框，宽度 100% */
.noBorder, html, body, tr.bgBigGlobe, tr.bgGlobe, td.bgBigGlobe, td.bgGlobe, table#layout {
	width: 100%;
	padding: 0px;
	border: 0px;
	margin: 0px;
	/* height: 100%; */
}

/* 蓝色背景（同地球图片的背景颜色）
.bgBlue {
	background-color: #6487dc;
} */

/* 白色链接，无下划线 */
a.white:link, a.white:visited, a.white:active {
	color: #ffffff;
	text-decoration: none;
}

/* 黑色链接，无下划线 */
a.black:link, a.black:visited, a.black:active {
	color: #000000;
	text-decoration: none;
}

/* 白色链接，鼠标悬停时有下划线 */
a.white:hover {
	color: #ffffff;
	text-decoration: underline;
}

/* 黑色链接，鼠标悬停时有下划线 */
a.black:hover {
	color: #000000;
	text-decoration: underline;
}

/* ==把这堆东西改成 Windows 配色== */
a:link, a:visited, a:active {
	color: #0066cc;
	text-decoration: none;
}

a:hover {
	color: #3399ff;
	text-decoration: none;
}

.disabled {
	color: #323232;
}

span.instruction {
	font-size: 12pt;
	color: #003399;
}

span.groupHeader {
	font-size: 11pt;
	color: #003399 !important;
}
/* =============================== */

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

/* 窗格 */
.pane {
	background-image: url(/images/bg_silverPanel.bmp);
	background-repeat: repeat-x;
	opacity: 0.9;
	border-radius: 5px;
	background-size: 100% 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-image: url(/images/bg_aurora.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}