*, p {
	font-family: 'Segoe UI', Tahoma, 'Droid Sans Fallback', Verdana, Geneva, 'Noto Sans CJK SC', sans-serif;
}

p, footer, li, figcaption, tr td {
	font-size: 10pt;
	color: #000000;
}

/* 背景为“大地球”，不重复 */
.bgBigGlobe {
	background-image: url(/images/bg_bigGlobe.jpg);
	background-repeat: no-repeat;
	height: 358px;
	/*图像高度为 358 px*/
}

/* 背景为“地球”，不重复 */
.bgGlobe {
	background-image: url(/images/bg_Globe.jpg);
	background-repeat: no-repeat;
	height: 104px;
	/* 图像高度为 104 px */
}

/* 背景为 bg_silverBar（银色栏，较窄），横向重复 */
.bgSilverBar {
	background-image: url(/images/bg_silverBar.gif);
	background-repeat: repeat-x;
}

/* 背景为 bg_silverHeader（银色表头，较宽），横向重复 */
.bgSilverHeader {
	background-image: url(/images/bg_silverHeader.gif);
	background-repeat: repeat-x;
	height: 38px;
}

/* 设置等宽字体 */
.mono {
	font-family: 'Lucida Console', 'Consolas', 'Droid Sans Mono', 'Noto Sans Mono CJK SC', 宋体, 新宋体, monospace;
}

/* 给这堆东西设置无边框，宽度 100% */
.noBorder, html, body, tr.bgBigGlobe, tr.bgGlobe, td.bgBigGlobe, td.bgGlobe, table#layout {
	width: 100%;
	padding: 0px;
	border: 0px;
	margin: 0px;
	/* height: 100%; */
}

/* 蓝色背景（同地球图片的背景颜色） */
.bgBlue {
	background-color: #6487dc;
}

/* 黑色链接，无下划线 */
a.black:link, a.black:visited, a.black:active {
	color: #000000;
	text-decoration: none;
}

/* 黑色链接，鼠标悬停时有下划线 */
a.black:hover {
	text-decoration: underline;
}

/* ==把这堆东西改成 Windows 配色== */
a:link, a:visited, a:active {
	color: #0066cc;
	text-decoration: none;
}

a:hover {
	color: #3399ff;
	text-decoration: none;
}

.disabled {
	color: #323232;
}

span.instruction {
	font-size: 12pt;
	color: #003399;
}

span.groupHeader {
	font-size: 11pt;
	color: #003399 !important;
}
/* =============================== */

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}
